@font-face {
  font-family: "Impac";
  src: url(../Font/impact.ttf) format("truetype");
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #121212;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/Hero-photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 230px 0;
}
header h1 {
  font-family: "Impact", sans-serif;
  font-weight: 700;
  font-size: 128px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-weight: 300;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  color: #121212;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
.section-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/Lady-gaga-photo-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-center {
  text-align: center;
}
.section-2 h2,
.section-2 h3 {
  color: white;
}
.section-2 h2 {
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100px;
  margin: 0 auto 20px;
}

main {
  background-color: white;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #121212;
  opacity: 0.3;
  text-transform: uppercase;
}
main h3 {
  font-family: "Impact", sans-serif;
  font-size: 42px;
  line-height: 1;
  color: #121212;
  margin: 0;
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}
main h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}
main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.8;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/Footer-photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
footer ul {
  padding: 0;
}
footer li {
  list-style-type: none;
}
footer h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
footer p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  opacity: 0.8;
}
footer a {
  color: white;
  line-height: 1.5;
  opacity: 0.8;
}

.img-responsive {
  width: 100%;
  display: block;
}

.grid {
  display: grid;
  grid-gap: 20px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
}
.grid-3-columns-with-1-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-item {
  padding: 100px 100px 100px 30px;
}

.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card-body {
  padding: 30px;
}
.card-header .embed {
  border-radius: 15px 15px 0 0;
}
.embed {
  width: 100%;
  aspect-ratio: 16/9;
}

.photo {
  filter: brightness(73%) grayscale(126%);
}

.btn {
  display: block;
  color: white;
  background-color: #121212;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px;
}

table {
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 30px auto;
  position: relative;
}
table * {
  position: relative;
}
table h4 {
  color: white;
}
table thead tr {
  height: 60px;
  background: #121212;
}
table tbody tr {
  height: 50px;
  text-align: center;
}
tbody tr {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 300;
}
tbody tr:hover {
  color: #555;
  background-color: #f5f5f5;
}
tbody td:first-child {
  max-width: 200px;
}
.img-cover {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .grid-item {
    text-align: center;
  }
  section,
  .grid-item {
    padding: 30px 15px;
  }
  .photo {
    display: none;
  }

  table,
  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40%;
    margin-bottom: 24px;
  }
  tbody td:first-child {
    max-width: 100%;
  }
  .img-cover {
    width: 20%;
    height: 20%;
  }
  table tbody tr td:before {
    font-size: 14px;
    color: #999;
    line-height: 1.2;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Cover/Poster";
    top: 50%;
    transform: translateY(-50%);
  }
  table tbody tr td:nth-child(2):before {
    content: "Title";
  }
  table tbody tr td:nth-child(3):before {
    content: "Release";
  }
  table tbody tr td:nth-child(4):before {
    content: "Type";
  }
}
